.new-project-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.new-project-container-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: var(--dominant);
  align-self: center;
  justify-self: center;
  width: 80%;
}

.new-project-container-wrapper-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  gap: 10px;
}

@media (max-width: 800px) {
  .new-project-container-wrapper {
    width: 100%;
  }
}
