@media screen and (max-width: 700px) {
  .bottomnavbar {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    align-items: center;
    border-top: 1px solid var(--outline);
    justify-content: center;

    background-color: var(--on-dominant);

    z-index: 10;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 601px) {
  .bottomnavbar {
    display: none;
  }
}
