.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-top: 10px;
  align-self: center;
  flex: 1;
  position: sticky;
  top: 0;
  z-index: 10;
  gap: 20px;
  width: 80%;
  max-width: 80%;
  background-color: var(--dominant);

  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 601px) {
  .timerange-selector {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    width: 100%;
    max-width: 100%;

    height: auto;
    padding: 12px;
  }
  .timerange-selector {
    display: none;
  }

  .navbar > * {
    margin-bottom: 8px;
  }

  .navbar > *:last-child {
    margin-bottom: 0;
  }
}
